.DS_Store
node_modules/
.idea/*
.idea/
packages/
interface_build/
interface/public/i18n/
interface/.meteor/dev_bundle
interface/.meteor/public/
dist_wallet/
dist_mist/
nodes/geth/
config.json
mist.log
npm-debug.log
/yarn.lock
.gitignore
Будет удалено .idea/misc.xml
Будет удалено .idea/mist.iml
Будет удалено .idea/modules.xml
Будет удалено .idea/workspace.xml
